
    /* Colores */
    $color-principal: #fccfdfa1;
    $color-border-principal: #fdcedf;
    $color-shadow-principal: rgba(253, 206, 223, 0.658);
    $color-body:#f9f5f6;
    $color-secundario:#f8e8ee6b ;
    $color-shadow-secundario:#f8e8ee;
    $color-shadow-terciario:rgb(104, 100, 100);

    $color-acento: #d69af48c;
    $color-font-acento: blue;
    $color-button-hover:#d69af48c;
  
    $color-card-border:#ac6f6f;
    $color-bg-card:#f9f5f6;
    
    
    
  /* Fuentes */
  
    $font-principal:"Mate SC", serif;
  
