
    /* Colores */
    $color-principal: #fccfdfa1;
    $color-border-principal: #fdcedf;
    $color-shadow-principal: rgba(253, 206, 223, 0.658);
    $color-body:rgb(249, 245, 246);
    $color-footer:hsla(262, 65%, 93%, 0.552);
    $color-secundario:#f8e8ee6b;
    $color-shadow-secundario:#f8e8ee;
    $color-shadow-terciario:rgb(104, 100, 100);

    $color-acento: hsla(280, 80%, 78%, 0.549);
    $color-font-acento: #0000ff;
    $color-button-hover:hsla(280, 80%, 78%, 0.549);
  
    $color-card-border:#eee0e0;
    $color-bg-card:#f9f5f6;
    $color-btn-comprar:hsla(280, 100%, 72%, 0.815);
    
    
    
    
  /* Fuentes */
  
    $font-principal:"Mate SC", serif;
  
