@use "./base/variables";
@use "./base/colores";
@use "./base/fuentes";
@use "./component/titulos";
@use "./component/body";
@use "./component/header";
@use "./component/navbar";
@use "./component/banner";
@use "./component/main";
@use "./component/main_button--nav";
@use "./component/tarjetas";
@use "./component/sections";
@use "./component/footer";
@use "./component/buttonUp";
@use "./component/menuFilter";