@use "../base/variables"  as v;
@use '../base/mixins';

.input {
    height: 40px;
    
    display: flex;
    justify-content: between;
    background-color: v.$color-body;
  
    @media screen and (min-width:768px) {
        height: 50px;
        width: 60%;
    }
    
    
    &__minus{
        
        @media screen and (max-width:767px) {
            @include mixins.changeNumber(15px,5px,40px);
        
        }


        @media screen and (min-width:768px) {
            @include mixins.changeNumber(22px,8px,40px);
        }
    }
    &__number{
        width: 100%;
        border: none;
        background-color: v.$color-bg-card;
        font-size: 1.2em;
        font-weight: 700;
        font-family: v.$font-principal;
        text-align: center;
        outline: none;
    
    }
    &__plus{
       
        

        @media screen and (max-width:767px) {
            @include mixins.changeNumber(10px,5px,40px);
        }
        @media screen and (min-width:768px) {
            @include mixins.changeNumber(16px,10px,40px);
        }
       

    }
}