.title {
    display: inline-block;
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: 3rem;
    font-family:$font-principal;
    margin: 1% auto;
  }

  /* Page Nosotros */
  .container-img-heigth {
    height: 400px;
    object-fit: scale-down;
    padding: 1rem;
    background-image: url(../img/nosotros/fachada.jpg);
    border-start-start-radius:10px;
    border-bottom-left-radius:10px;
    background-size: cover;
    background-position: center;
  }
  
  
  .my-10 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

@import "./banner";
@import "./main_button--nav";
@import "./tarjetas";
@import "./tarjetas";

