@use "../base/variables" as v;


.title {
  display: inline-block;
  width: 100%;

  text-align: center;
  font-size: 3rem;
  text-shadow: 10px -3px v.$color-principal;
  font-family: v.$font-principal;
  font-weight: bold;
  margin: 1% auto;
}

/* Page Nosotros */
.container {

  &-img-heigth {
    height: auto;
    object-fit: scale-down;
    padding: 1rem;
    background-image: url(../img/nosotros/fachada.jpg);
    border-start-start-radius: 10px;
    border-bottom-left-radius: 10px;
    background-size: cover;
    background-position: center;
  }

  
}

.contacto_map {
  min-height: 300px;
  height: 100%;
  border: 0;
}



.my-10 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}



.borderBuild {
  border: 1px solid red;
}