@use "../base/variables" as v;


.navbar {
    &-nav__container{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    &__container {
        @media (max-width:991px) {

            display: flex;
            width: 100%;
        }
        @media (min-width:992px) {

            display: none;
            width: auto;
            
        }


    }

    &__title-cart {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        margin-left: 20px;
    }

    &__cart {
        position: relative;

        &:hover {
            cursor: pointer;

        }
    }

    &__cart--notification {
        display: none;
        width: 16px;
        height: 12px;
        border-radius: 5px;
        position: absolute;
        top: -12px;
        right: -12px;
        font-size: 0.8em;
        text-align: center;
        color: v.$color-font-acento;

    }


}