@charset "UTF-8";
/* Colores */
/* Fuentes */
.bg-principal {
  background-color: rgba(252, 207, 223, 0.631372549);
}

.bg-secundario {
  background-color: rgba(248, 232, 238, 0.4196078431);
}

.bg-acento {
  background-color: rgba(214, 154, 244, 0.5490196078);
}

.font-color-acento {
  color: blue !important;
}

.font-principal {
  font-family: "Mate SC", serif;
}

h2 {
  font-family: "Mate SC", serif;
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-family: "Mate SC", serif;
  font-size: 1.5rem;
}

html, body {
  width: 100%;
  overflow-x: clip !important;
  background-color: #f9f5f6 !important;
}

/* Header */
header {
  border-bottom: #fdcedf 3px solid;
  box-shadow: 0 2px 10px rgba(253, 206, 223, 0.658);
}

.logo {
  display: flexbox;
  width: 90px;
  height: 90px;
  margin: 1% auto;
  border: rgba(214, 154, 244, 0.5490196078) 1px solid;
  border-radius: 50px 50px;
}
.logo:hover {
  transform: scale(120%);
  transition: 500ms;
}

.nav-item:hover {
  background-color: rgba(214, 154, 244, 0.5490196078);
  border-radius: 20px;
  border: rgba(214, 154, 244, 0.5490196078) 3px solid;
  scale: 115%;
  box-shadow: 0px 0px 10px grey;
}

.btn_form_search {
  background-color: transparent;
  border: rgba(214, 154, 244, 0.5490196078) solid 4px;
}
.btn_form_search:hover {
  background-color: rgba(214, 154, 244, 0.5490196078);
  border-radius: 20px;
  border: rgba(214, 154, 244, 0.5490196078) 2px solid;
  font-size: large;
  font-weight: bolder;
  transition: 200ms;
}

/* /Header */
.navbar-nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .navbar__container {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .navbar__container {
    display: none;
    width: auto;
  }
}
.navbar__title-cart {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbar__title {
  font-weight: 700;
  margin-left: 20px;
}
.navbar__cart {
  position: relative;
}
.navbar__cart:hover {
  cursor: pointer;
}
.navbar__cart--notification {
  display: none;
  width: 16px;
  height: 12px;
  border-radius: 5px;
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 0.8em;
  text-align: center;
  color: blue;
}

.banner {
  height: 11rem;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.bg-banner1 {
  background: linear-gradient(to right, #f8bfd0, #f8b6c2);
}

.bg-banner2 {
  background: linear-gradient(to right, #FFC976, #FFC977);
}

@media screen and (min-width: 576px) {
  .banner {
    height: 20rem;
  }
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}
.title {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-shadow: 10px -3px rgba(252, 207, 223, 0.631372549);
  font-family: "Mate SC", serif;
  font-weight: bold;
  margin: 1% auto;
}

/* Page Nosotros */
.container-img-heigth {
  min-height: 386px;
  height: auto;
  object-fit: scale-down;
  padding: 1rem;
  background-image: url(../img/nosotros/fachada.jpg);
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
  background-size: cover;
  background-position: center;
}

.contacto_map {
  min-height: 300px;
  height: 100%;
  border: 0;
}

.my-10 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.borderBuild {
  border: 1px solid red;
}

.boton {
  display: inline-block;
  padding: 15px 25px;
  border: 1px solid black;
  background-color: #f8e8ee;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 2px rgb(104, 100, 100);
}
.boton:hover {
  background-color: rgba(214, 154, 244, 0.55);
  box-shadow: 10px 10px 8px rgb(141, 132, 132);
  scale: 120%;
}

.nav-index {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card {
  border-radius: 10px;
  background-color: #f9f5f6;
  box-shadow: 5px 5px 20px rgb(104, 100, 100) !important;
}
.card_img-size {
  padding: 1rem;
  overflow: hidden;
}
.card_img-size img {
  height: 250px;
  object-fit: contain;
}
.card_img-size img:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: 100ms;
}
.card_img-profile {
  display: flex;
  width: 150px;
}
.card_img-profile--style {
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .card_img-profile {
    display: flex;
    width: 250px;
  }
}

.btn-outline-acento {
  background-color: transparent;
  border: rgba(214, 154, 244, 0.5490196078) solid 1px;
}
.btn-outline-acento:hover {
  cursor: default !important;
  /*  background-color: v.$color-button-hover;
   border-radius: 20px;
   border: v.$color-button-hover 1px solid;
   // font-size:large;
   font-weight: bold;
   transition: 300ms; */
}

#novedades {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: rgba(248, 232, 238, 0.4196078431);
}

#ofertasUnicas {
  padding-top: 1%;
}

#testimonios {
  background-color: rgba(248, 232, 238, 0.4196078431);
}

.footer__icon i {
  color: black;
  font-size: 20px;
}

/* Boton Flotante */
.btn-flotante {
  font-size: 24px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #ffffff; /* Color del texto */
  border-radius: 100px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  background-color: #6142d1; /* Color de fondo */
  padding: 18px 30px; /* Relleno del boton */
  position: fixed;
  bottom: 100px;
  right: 10px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
@media only screen and (max-width: 767px) {
  .btn-flotante {
    font-size: 18px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .btn-flotante {
    font-size: 24px;
    padding: 12px 20px;
    bottom: 20px;
    right: 30px;
  }
}

.btn-flotante:hover {
  background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.menuFilter__container {
  height: 80px;
}
@media (min-width: 992px) {
  .menuFilter__container {
    height: 80px;
  }
}
.menuFilter__breadcrum {
  display: none;
}
@media (min-width: 992px) {
  .menuFilter__breadcrum {
    display: flex;
  }
}

.filtro-modal {
  position: relative;
  height: 100%;
  display: flex;
}
.filtro-modal__background {
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 80%;
  height: 100%;
  padding: 10px 30px;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .filtro-modal__background {
    position: relative;
    margin: 30px 0px;
    width: 100%;
    padding: 10px 0px;
    height: 80px;
  }
}
.filtro-modal__close-icon {
  position: absolute;
  right: -20px;
}
@media (min-width: 992px) {
  .filtro-modal__close-icon {
    display: none;
  }
}
.filtro-modal__containerItems {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 75%;
}
@media (min-width: 992px) {
  .filtro-modal__containerItems {
    width: 100%;
    margin-top: 0px;
  }
}
.filtro-modal__items {
  height: 100%;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 992px) {
  .filtro-modal__items {
    align-items: center;
    flex-direction: row;
  }
}
.filtro-modal__item select, .filtro-modal button {
  width: 100%;
  margin: auto;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
}
@media (min-width: 992px) {
  .filtro-modal__item select, .filtro-modal button {
    font-size: 1rem;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .filtro-modal {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
