/* Colores */
/* Fuentes */
.bg-principal {
  background-color: rgba(252, 207, 223, 0.631372549);
}

.bg-secundario {
  background-color: rgba(248, 232, 238, 0.4196078431);
}

.bg-acento {
  background-color: rgba(214, 154, 244, 0.5490196078);
}

.font-color-acento {
  color: blue !important;
}

.font-principal {
  font-family: "Mate SC", serif;
}

h2 {
  font-family: "Mate SC", serif;
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-family: "Mate SC", serif;
  font-size: 1.5rem;
}

body {
  background-color: #f9f5f6 !important;
}

/* Header */
header {
  border-bottom: #fdcedf 3px solid;
  box-shadow: 0 2px 10px rgba(253, 206, 223, 0.658);
}

.logo {
  display: block;
  width: 90px;
  height: 90px;
  margin: 1% auto;
  border: rgba(214, 154, 244, 0.5490196078) 1px solid;
  border-radius: 50px 50px;
}
.logo:hover {
  transform: scale(120%);
  transition: 500ms;
}

.nav-item:hover {
  background-color: rgba(214, 154, 244, 0.5490196078);
  border-radius: 20px;
  border: rgba(214, 154, 244, 0.5490196078) 3px solid;
  scale: 115%;
  box-shadow: 0px 0px 10px grey;
}

.btn_form_search {
  background-color: transparent;
  border: rgba(214, 154, 244, 0.5490196078) solid 4px;
}
.btn_form_search:hover {
  background-color: rgba(214, 154, 244, 0.5490196078);
  border-radius: 20px;
  border: rgba(214, 154, 244, 0.5490196078) 2px solid;
  font-size: large;
  font-weight: bolder;
  transition: 500ms;
}

/* /Header */
.title {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-shadow: 10px -3px rgba(252, 207, 223, 0.631372549);
  font-family: "Mate SC", serif;
  font-weight: bold;
  margin: 1% auto;
}

/* Page Nosotros */
.container-img-heigth {
  height: 400px;
  object-fit: scale-down;
  padding: 1rem;
  background-image: url(../img/nosotros/fachada.jpg);
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
  background-size: cover;
  background-position: center;
}

.contacto_map {
  min-height: 300px;
  height: 100%;
  border: 0;
}

.my-10 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.banner {
  height: 11rem;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.bg-banner1 {
  background: linear-gradient(to right, #f8bfd0, #f8b6c2);
}

.bg-banner2 {
  background: linear-gradient(to right, #FFC976, #FFC977);
}

@media screen and (min-width: 576px) {
  .banner {
    height: 20rem;
  }
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}
.boton {
  display: inline-block;
  padding: 15px 25px;
  border: 1px solid black;
  background-color: var(--color-shadow-secundario);
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 2px rgb(104, 100, 100);
}
.boton:hover {
  background-color: rgba(214, 154, 244, 0.55);
  box-shadow: 10px 10px 8px rgb(141, 132, 132);
  scale: 120%;
}

.nav-index {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card_img-size {
  padding: 1rem;
}
.card_img-size img {
  height: 250px;
  object-fit: contain;
}

.card {
  border: 1.2px solid #ac6f6f;
  border-radius: 10px;
  background-color: #f9f5f6;
  box-shadow: 5px 5px 20px rgb(104, 100, 100) !important;
}

.btn-outline-acento {
  background-color: transparent;
  border: rgba(214, 154, 244, 0.5490196078) solid 1px;
}
.btn-outline-acento:hover {
  background-color: rgba(214, 154, 244, 0.5490196078);
  border-radius: 20px;
  border: rgba(214, 154, 244, 0.5490196078) 1px solid;
  font-size: large;
  font-weight: bold;
  transition: 300ms;
}

@media screen and (min-width: 768px) {
  .card-scale:hover {
    transform: scale(115%);
    z-index: 1;
    transition: 500ms;
  }
}

/*# sourceMappingURL=style.css.map */
